<section class="fixed-name">
		 
		 	  <table>
				  	 <tr><th id="name">MAYANK</th></tr>
					 <tr><th id="designation">Programmer / Designer</th></tr>
			  </table>
		 
		 <div class="sidecontainer">
		 	  <h6><img class="icon" src="images/softwares-icon.png"><br>Links</h6>
			  <hr style="margin:1em 0 1em 0;">
			  <ul2 style="list-style-type:disc;" class="list">
			  	  <li1><a traget="_blank" href="http://krmayank911.github.io/robodiary.io/" style="text-decoration:none;color:#61d0d4;font-size:larger;font-weight:bold;"><p>Robo Diary</p></a></li>
				  <li1><a target="_blank" href="http://krmayank911.github.io/BACK-TO-THE-FUTURE/" style="text-decoration:none;color:#61d0d4;font-size:larger;font-weight:bold;"><p>Back to the Future</p></a></li>
				  <li1><a target="_blank" href="logo-gallery.html" style="text-decoration:none;color:#61d0d4;font-size:larger;font-weight:bold;"><p>Logos</p></a></li>
			  </ul2>
			  <br><br>
		 </div>
</section>