<section class="fixed-name">
		 
		 	  <table>
				  	 <tr><th id="name">MAYANK</th></tr>
					 <tr><th id="designation">Programmer / Designer</th></tr>
			  </table>
		 
		 <div class="sidecontainer">
		 	  <h6><img class="icon" src="images/softwares-icon.png"><br>Softwares</h6>
			  <hr style="margin:1em 0 1em 0;">
			  <ul2 style="list-style-type:disc;" class="list">
			  	  <li1><p>Arduino IDE</p></li>
				  <li1><p>Atmel Studio</p></li>
				  <li1><p>Eagle CAD</p></li>
				  <li1><p>Adobe Photoshop</p></li>
			  </ul2>
			  <br><br>
			  <h6><img class="icon" src="images/languages-icon.png"><br>Languages</h6>
			  <hr style="margin:1em 0 1em 0;">
			  <ul2 style="list-style-type:disc;" class="list">
			  	  <li1><p>C,C++</p></li>
			  	  <li1><p>AVR C</p></li>
			  	  <li1><p>Html,CSS,JS,jQuery</p></li>
			  </ul2>
		 </div>
</section>