<section class="footer">
		 <div class="">
		 	  <ul id="block">
			  	  <li><img class="icon" src="images/call-icon.png" alt="call-icon"></li>
			  	  <li><b>Call<b><br>+91 8287835567</li>
			   	  <li><img class="icon" src="images/mail-icon.png" alt="mail-icon"></li>
			  	  <li><b>Contact</b><br>krmayank911@gmail.com</li>  
				  <li id="copy"><table>
				  			 <tr>
							 	 <th colspan="3">Follow Me </th>
							 </tr>
							 <tr>
							 	 <td><a href="https://github.com/krmayank911" ><img class="icon" src="images/github-icon.png" alt="github"></a></td>
							 	 <td><a href="https://www.facebook.com/profile.php?id=100001029623328" ><img class="icon" src="images/facebook-icon.png" alt="facebook"></a></td>
								 <td><a href="https://www.instagram.com/krmayank911/" ><img class="icon" src="images/instagram-icon.png" alt="instagram"></a></td>
							 </tr>
				  	  </table>	 
				  </li>
				  <li id="copy"><img class="icon" src="images/copyright-icon.png" alt="copyright-icon"></li>
				  <li>&copy 2016 krmayank911<br>
				  			New Delhi
				  </li>
			  </ul>
		 </div>
</section>