<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link type="text/css" rel="stylesheet" href="assets/css/displaydata.css">
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  		<article id="main">
  				 {% include header.html %}
				 {% include container2.html %}
				 {% include footer.html %}
				 
  		</article>
		{% include fixed-name.html %}
  </body>
</html>